[Unit]
Description=IP-Tag (oneshot) - atualiza tags de IP em VMs/LXCs
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/iptag/iptag
User=root
Group=root
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=read-only
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
LockPersonality=yes
RestrictRealtime=yes
CapabilityBoundingSet=CAP_NET_ADMIN CAP_SYS_ADMIN
AmbientCapabilities=CAP_NET_ADMIN CAP_SYS_ADMIN
